.table-headings {
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  background-color: yellow;
}

.align-right{
  text-align: right;
}

.data-table {
  background-color: #eee;
  border-bottom:solid 1px #666;
}

.row {
  /* line-height: 3em; */
}

.padded {
  padding: 10px;
}

.top-margin {
  margin-top: 20px;
}